.navbar-custom {

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  
}

.navbar-custom .navbar-brand {
  color: #24a758;
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar-custom .navbar-brand:hover {
  color: #17a2b8;
}

.navbar-custom .navbar-nav {
  font-size: 1.2rem;
}

.navbar-custom .nav-link {
  color: #0278b8;
  padding: 10px 15px;
}

.navbar-custom .nav-link:hover {
  color: #ffffff;
}

.navbar-custom .nav-link.active {
  font-weight: bold;
}

.navbar-custom .navbar-toggler {
  border-color: transparent;
  background-color: #24a758;
  margin-right: 0; /* Remove right margin */
}

.navbar-custom .navbar-toggler-icon {
  background-color: #195f02;
}

.navbar-custom .navbar-collapse {
  justify-content: flex-end;
}

.navbar-custom .navbar-nav .nav-item {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .navbar-custom .navbar-toggler {
    margin-right: 0;
  }
  
  .navbar-custom .navbar-collapse {
    justify-content: flex-start;
    background-color: #ffffff;
    padding: 10px;
  }
  
  .navbar-custom .navbar-nav .nav-item {
    margin-bottom: 10px;
  }
}