.btn-container{
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 60px;
}


.logout-btn{
    text-align: center;
    margin-top: 50px;
    width: 200px;
    font-weight: 700;
}